@import "../../styleConfig.scss";

.wrapper{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 250px;
    align-content: flex-start;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: rgba($color-main, 1);
}

.__item {
    text-decoration: none;
    color: $color-text-light;
    width: 100%;
    padding-left: 30px;
    margin: 5px 0;

    a{
        display: inline-block;
        padding: 5px;
        text-align: left;

        &:hover,
        &:focus{
            color: $color-thr;
        }
    }

    :global{
        .is-active{
            color: $color-sec;
        }
    }
}