@import "../../App.scss";

.wrapper{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    width: 250px;
    align-content: flex-start;
    overflow-y: auto;
    overflow-x: hidden;
}

.__item {
    text-decoration: none;
    color: $color-text-light;
    width: 100%;
    padding-left: 30px;
    margin: 5px 0;

    a{
        display: inline-block;
        padding: 5px;
        text-align: left;

        &:hover,
        &:focus{

            text-shadow: 3px 2px 4px $color-sec, -2px 0px 5px $color-sec;
        }
    }

    :global{
        .is-active{
            color: $color-sec;
        }
    }
}