@import "../../styleConfig.scss";

.module__wrapper{
    position: relative;

}

.content__header{
    position: relative;
    padding-left: 0;
    padding-right: 0;
}

.plan__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: $color-text-dark;
    align-content: flex-start;

    :global{
        .char__wrapper{
              width: 95%;
              left: 50%;
              transform: translateX(-50%);
              margin-bottom: 10px;

          }

    }
}

.section__title__wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
}

.section__title{
    font-size: remy($size-header-section);
    padding: 8px 0;
    background-color: $color-placeholder-light;
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

}
.section__item{
    display: flex;
    flex-wrap: wrap;
    width: 33%;
    padding: 10px;
    padding-top: 15px;
    padding-left: 20px;
    margin-top: 0;
    font-weight: 600;
    border-top: 1px solid rgba($color-text-light, .2);
    border-left: 1px solid rgba($color-text-light, .2);


    &__half{
        width: 50%;
        font-weight: 600;
        padding-top: 10px;
    }
    &__full{
        width: 100%;
        font-weight: 600;
        padding-top: 10px;
    }

    &:nth-child(even){
        border-left: 0;
    }

    h3{
        width: 100%;
        text-align: left;
    }
}

.section__value{
    font-size: remy($size-text-big);
    font-weight: 600;
    padding-top: 5px;
    padding-bottom: 10px;
}

.category__realization{
    color: $color-text-dark;
    display: flex;
    flex-wrap: wrap;

    :global{
        .block__title{
            width: auto;
            flex-grow: 1;
        }

        .legend__wrapper{
            padding: 0 10px;
        }
        .legend__item{
            &:nth-child(1){
                &::before{
                    border-color: $color-thr;

                }
            }
            &:nth-child(2){
                &::before{
                    border-color: rgb(236, 229, 243);
                }
            }
            &:nth-child(3){
                &::before{
                    border-color: rgba($color-main, .6);
                }
            }
        }
    }

    .category__wrapper{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding-top: 12px;
        background: linear-gradient(45deg, rgba(255,255,255,0) 0%, rgba(255,255,255,.1) 100%);
        height:65px;
        overflow: hidden;
        transition: .3s ease-in-out;
        border-bottom: 1px solid rgba($color-placeholder, 0.3);

        &:last-child{
            border-bottom: 0;
        }


      :global{
          .char__wrapper{
                width: 100%;
                flex-grow: 1;
                height: 20px;
                padding: 0 20px;

            }

      }
    }
    .category__title{
        min-width: 150px;
        text-transform: capitalize;
        cursor: pointer;
        text-align: left;
        margin-right: 8px;
        padding: 5px 0;
        padding-left: 25px;

        :global{

            .ico{
                width: 10px;
                height: 10px;
                transition: .3s ease-out;
                margin-left: 8px;
                transform: rotate(90deg);

                &.is-active{
                    transform: rotate(-90deg);
                }
            }
        }

        &:hover{
            color: $color-thr;
        }


    }

    .char__info{
        padding-right: 25px;
    }

    .tags__wrapper{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        background-color: #f0f0f0;
        padding-top: 15px;
        padding-bottom: 15px;
        margin-top: 8px;



        :global{
            .char__wrapper{
                  height: 15px;
              }

        }

    }

    .tag{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin: 2px 0;
        padding: 3px 0;
        padding-left: 15px;
        justify-content: space-between;
        border-bottom: 1px solid rgba($color-placeholder, 0.3);
        &:last-child{
            border-bottom: 0;
        }

        .char__info{
            padding-right: 25px;
            font-size: remy($size-text--small);
        }
    }

    .tag__title{
        width: 15%;
        min-width: 150px;
        text-align: left;
        padding-right: 5px;
        text-transform: capitalize;
        font-size: remy($size-text--small);
        padding-left: 20px;
    }



}