@import "../../../styleConfig.scss";


.wrapper{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    z-index: 200;
    margin-bottom: 20px;
    margin-top: 20px;

    .input__amount {
        max-width: 60px;
    }
    input{
        margin: 10px;
    }
    :global{
        .block__title{
            margin-bottom: 5px;
        }

    }

}
.expenses__wrapper,
.earnings__wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px;
    margin: 5px 0px;
    margin-bottom: 10px;
    text-align: left;

    input,button{
        margin: 0 15px;
    }

    input{
        text-align: center;
        font-weight: 600;
        border: 0;
        border-bottom: 1px solid rgba($color-placeholder, .5);
        //border-radius: 8px;
        padding: 7px 8px;
        outline: none;
        transition: .3s ease-out;
        color:$color-placeholder-light;
        background-color: transparent;

        &:active, &:focus{
            border-color:  $color-placeholder;
        }

        &::placeholder{
            color: rgba($color-placeholder, .5);
        }
    }

}

.expenses__wrapper{
   // border-left: 8px solid $color-expenses;
    position: relative;
    padding-left: 20px;
    flex-grow: 1;
    &::before{
       content: "";
       position: absolute;
       left: 0;
       display: block;
       height: 70%;
       width: 1px;
       background-color: #d3d3d3;
    }
}
.earnings__wrapper{
   // border-left: 8px solid $color-incomes;

}

