@import "../../../styleConfig.scss";


.wrapper{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    z-index: 200;
    border-radius: 8px;

    .input__amount {
        max-width: 60px;
    }
    input{
        margin: 10px;
    }
    :global{
        .block__title{
            margin-bottom: 5px;
        }

    }

}
.expenses__wrapper,
.earnings__wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
    margin: 5px 10px;

    input{
        text-align: center;
        font-weight: 600;
    }
}

.expenses__wrapper{
    background: linear-gradient(to left, transparent 50%, rgba($color-expenses, .1) );
    border-left: 8px solid $color-expenses;
}
.earnings__wrapper{
    background: linear-gradient(to left, transparent 50%, rgba($color-incomes, .1) );
    border-left: 8px solid $color-incomes;
}

