@import "../../styleConfig.scss";

.wrapper{
    position: relative;
    display: flex;
    width: 100%;

}

.bars__wrapper{
    position: relative;

    &__slim{
        border: transparent;
        overflow: hidden;


    }

    &__horizontal{
        width: 100%;
        .bar__wrapper{
            width: 100%;

            &:first-child{
                .bar__stacked{
                    height: 100%;
                }
            }
        }
        .bar{
            height: 40px;
            width: 0;


            &__stacked{
                position: absolute;
                height: 55%;
                top: 50%;
                transform: translateY(-50%);
            }

            span{
                display: inline-block;
                position: relative;
                top: 50%;
                transform: translateY(-50%) translateX(-50%);
            }
        }
    }
    &__vertical{
        height: 100%;
        .bar__wrapper{
            height: 100%;
        }
        .bar{
            width: 20px;
            height: 20%;
        }
    }


}

.bar{
    background: linear-gradient(to left, red, transparent);
    transition: .6s ease-in-out;


}

