@import "./styleConfig.scss";



.App {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.2;
  color: $color-text-dark;
  background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
  background: linear-gradient(60deg, #0f0c29, #0e0e11, #1d1d33);
  background: linear-gradient(45deg, #dfddf1, #f1f1f1, #f3f3fb);
  min-height: 100vh;
  font-size: remy($size-text-regular);
}
*{
  box-sizing: border-box;
}
input,button,texarea{
  line-height: 1.2;

  &::placeholder{
    color: $color-placeholder;
  }
}

h1,h2,h2,h4, .header{
  font-family: 'Oswald', sans-serif;
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 10px 10px rgba($color-placeholder-light, .05);
  margin: 5px 0;

  &:hover{
    -webkit-box-shadow: inset 0 0 10px 10px rgba($color-placeholder-light, .1);
  }
}

*::-webkit-scrollbar-thumb {
  background-color: $color-placeholder;
  outline: 1px solid slategrey;
}

:global{

  .wrapper__flex{
    display: flex;
  }

  .content__wrapper{
    width: calc(100% - 300px );
    flex: 1 1 100%;
    min-height: 100vh;
    position: relative;
    padding: 20px ;
  }

  .content__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
  }

  .content__header {
    padding-bottom: 0;
    display: flex;
    flex-wrap: wrap;


    &-title{
      margin: 0;
      display: inline-block;
      width: 100%;
      text-align: left;
      margin-bottom: 20px;
      color: $color-text-dark;
      padding: 15px;
      border-bottom: 1px solid $color-text-dark;
      font-weight: 400;

    }

    &-subTitle{
      width: 100%;
    }
  }

  .block{
    background: $color-bg-content;
    box-shadow: 0px 0px 2px 0px rgba($color-main, .1);
    grid-column: 1 / span 4;

    &__wrapper{
      display: grid;
      grid-template-columns: repeat(4, 1fr [grid-item]);
      grid-gap: 25px;
      width: 100%;
      align-items: start;
      background-color: transparent;
      border: 0;
      box-shadow: none;
    }

    &__title{
      font-family: 'Open Sans', sans-serif;
      font-weight: 600;
      width: 100%;
      text-align: left;
      font-size: remy($size-table-header);
      color: $color-text-dark;
      padding: 15px;

    }

    &_1-2{
      grid-column: 1 / span 2;

      &:nth-child(even){
        grid-column: 3 / span 4;
      }
    }

    &_1-3{
      grid-column: 1 / span 3;
    }
  }


  .legend__wrapper{
    display: flex;
    font-weight: 600;
    font-size: remy($size-text--small);

    .legend__item{
      display: flex;
      align-items: center;
      margin-left: 5px;

      &::before{
        content: "";
        display: block;
        width: 10px;
        height: 10px;
        border: 3px solid grey;
        border-radius: 50%;
        margin: 0 5px;
      }
    }
  }

  .col-expenses{
    color: $color-expenses;
  }
  .col-bg-expenses{
    background: $color-incomes !important;
  }
  .col-incomes{
    color: $color-incomes;
  }
  .col-bg-incomes{
    background: $color-expenses !important;
  }

  .col-anchor{
    color: $color-thr;
  }

  .ico{
    display: inline-block;
    width: 14px;
    height: 14px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    &-arrow{
      background-image: url(../src/img/arrow.svg);
    }
  }

}
