@import "./styleConfig.scss";



.App {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.2;
  color: $color-text-dark;
  background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
  background: linear-gradient(60deg, #0f0c29, #0e0e11, #1d1d33);
  min-height: 100vh;
  font-size: remy($size-text-regular);
}
*{
  box-sizing: border-box;
}
input,button,texarea{
  line-height: 1.2;

  &::placeholder{
    color: $color-placeholder;
  }
}

h1,h2,h2,h4, .header{
  font-family: 'Oswald', sans-serif;
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 10px 10px rgba($color-main, .05);
  border-radius: 8px;
  margin: 5px 0;

  &:hover{
    -webkit-box-shadow: inset 0 0 10px 10px rgba($color-main, .1);
  }
}

*::-webkit-scrollbar-thumb {
  background-color: $color-main;
  outline: 1px solid slategrey;
  border-radius: 8px;
}

:global{
  .content__wrapper{
    width: calc(100% - 300px );
    min-height: 100vh;
    position: relative;
    left: 100%;
    transform: translateX(-100%);
    padding-right: 20px;
  }

  .content__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
  }

  .content__header {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;


    &-title{
      margin: 0;
      display: inline-block;
      width: 100%;
      text-align: left;
      margin-bottom: 20px;
      color: $color-text-light;
      padding: 15px;
      border-bottom: 1px solid $color-bg-content;
      font-weight: 400;

    }

    &-subTitle{
      width: 100%;
    }
  }

  .block{
    background: linear-gradient(45deg,  $color-bg-content,  rgba($color-bg-content, .05));
    box-shadow: 0px 0px 6px 0px rgba($color-main, .3);
    border: 1px solid rgba($color-text-light, .2);
    border-radius: 8px;


    &__wrapper{
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      width: 100%;
      margin: 10px 0 ;
    }

    &__title{
      border-top-right-radius: 8px;
      border-top-left-radius: 8px;
      width: 100%;
      text-align: left;
      font-size: remy($size-table-header);
      color: $color-text-light;
      padding: 15px;
      letter-spacing: 1px;
      background-color: $color-bg-content;
    }

    &_1-2{
      width: 48.5%;

      &:nth-child(odd){
        margin-right: 3%;
      }
    }

    &_1-3{
      width: 31%;
    }
  }

  .col-expenses{
    color: $color-expenses;
  }
  .col-bg-expenses{
    background: $color-incomes !important;
  }
  .col-incomes{
    color: $color-incomes;
  }
  .col-bg-incomes{
    background: $color-expenses !important;
  }


  .ico{
    display: inline-block;
    width: 14px;
    height: 14px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    &-arrow{
      background-image: url(../src/img/arrow.svg);
    }
  }

}
