/* --Var-- */
/* Colors */
$color-main: #0f0c29;
$color-sec: #e74c3c;
$color-thr: #4c0cc4;
$color-disabled: #bdc3c7;
$color-text-light: rgb(252, 252, 252);
$color-text-dark: #1a2027;
$color-placeholder:#9ca0a3;
$color-placeholder-light:#4c0cc4;
$color-hover-light:#f7f7f7;

$color-bg-content: white;

$color-incomes: #4CAF50;
$color-expenses: #F44336;


/* sizes */
$size-label--active: 10;
$size-label: 12;

$size-button: 16;

$size-header-section: 21;
$size-header-small: 19;



$size-text--small: 12;
$size-text-regular: 14;
$size-text-big:21;

$size-table-header: 18;

/* --Mixins-- */


/* --Func-- */
@function remy($size) {
  $remSize: $size / 16;
  @return #{$remSize}rem;
}
